!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'MICS CMS'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Mcs Cms'}"}
    = csrf_meta_tags
    = stylesheet_link_tag "theme-default"
  %body
    %header
    %main{:role => "main"}
      = render template: '_navigation'
      = yield
