%h1.center Users

%table.table.table-hover
  %thead
    %tr
      %th User Email
      %th First Name
      %th Last Name
      %th Phone Number
      %th Dawgtag
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.first_name
        %td= user.last_name
        %td= number_to_phone(user.phone_number, area_code: true)
        %td= user.dawgtag
        %td
        %td= link_to 'Show', admin_user_path(user), class: 'btn btn-success'
        %td= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-warning'
        %td= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

%br
= will_paginate @users
= link_to 'New User', new_user_registration_path, class: 'btn btn-success btn-lg btn-block'
