%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Home', root_path, class: 'navbar-brand'
      = link_to 'Categories', admin_categories_path, class: 'navbar-brand'
      = link_to 'Menus', admin_menus_path, class: 'navbar-brand'
      = link_to 'Types', admin_types_path, class: 'navbar-brand'
      = link_to 'Settings', admin_settings_path, class: 'navbar-brand'
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %p.navbar-text
            Signed in as #{current_user.full_name}
            = link_to 'logout', destroy_user_session_path, method: :destroy, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'
