!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Mcs Cms'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Mcs Cms'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #mySidenav.sidenav
      %a.closebtn{onclick: "closeNav()"} &#215;
      = render 'layouts/navigation'
    #main{role: "main"}
      = render 'layouts/messages'
      - if user_signed_in?
        %span{onclick: "openNav()", style: "font-size:30px;cursor:pointer"} ☰ CMS Tabs
        %h2.center.neon-blue
          Signed in as #{current_user.full_name}
      = yield
